<h1><%= title %></h1>

<%  %>
<% if (typeof messages === "function") { %>
  <div class="flash"><%- messages() %></div>
<% } %>

<%  %>
<% if (typeof errors !== "undefined" && errors && errors.length) { %>
  <ul class="errors">
    <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
    <% }) %>
  </ul>
<% } %>

<p>You’re logged in.</p>

